{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src={% if teaser contains "://" %} "{{ teaser }}" {% else %} "{{ teaser | prepend: " /images/" | prepend:
        base_path }}" {% endif %} alt="">
    </div>
    {% endif %}




    <table class="tab" width="100%" aling="center" cellspacing="0" callpadding="0">
      <tr>
        <td style="text-align: right; width: {{post.width | default: '25%'}}">
          {%if post.period %}
          <br>
          {% endif %}
          <p align="justify">
            <a class="simple_title" href="{{ base_path }}{{ post.url }}" rel="permalink">
              <img src="{{post.img}}" style="width:100%;" alt="{{post.alt  | default: ''}}">
            </a>
          </p>
        </td>
        <td style="padding-left:2%;  ">
            <b>
              {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i
                  class="simple_title fa fa-link" aria-hidden="true" title="permalink"></i><span
                  class="sr-only">Permalink</span></a>
              {% else %}
              <a class="simple_title" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
              {% endif %}
            </b>
          <br>
          {% if post.collection == 'publications' %}
          {% if post.citation%}
          <p style="margin-bottom: 0.5rem;">{{ post.citation }} </p>
          {% endif %}
          <p style="margin-bottom: 0;">Published in <i>{{ post.venue }}</i></p>
          <p>
            {% if post.paperurl%}
            <a href=" {{ post.paperurl }} "><u>download pdf</u></a>
            {% endif %}
            {% if post.video%}
            / <a href=" {{ post.video }} "><u>video</u></a>
            {% endif %}
          </p>
          {% endif %}
          
        </td>
      </tr>
    </table>

    <style>
      .tab {
        border-collapse: collapse;
        border: none;
      }

      .tab tr,
      td {
        border-collapse: collapse;
        border: none;
      }
    </style>

  </article>
</div>